<div class="slds-tabs_default">
  <ul class="slds-tabs_default__nav" role="tablist">
    <li *ngFor="let tab of tabs"
        class="slds-tabs_default__item"
        [class.slds-active]="tab.active"
        (click)="select(tab)"
        title="Item One"
        role="presentation">

      <a class="slds-tabs_default__link"
         role="tab" tabindex="0"
         aria-selected="true"
         aria-controls="tab-default-1"
         id="tab-default-1__item">
          <ng-template [ngTemplateOutlet]="tab.heading"></ng-template>
      </a>
    </li>
    </ul>
  <div id="tab-default-1"
       class="slds-tabs_default__content slds-show"
       role="tabpanel"
       aria-labelledby="tab-default-1__item">
    <ng-template [ngTemplateOutlet]="activeTab?.templateRef"></ng-template>
  </div>
</div>
