<h2>Info List</h2>
{{infos.length}} Infos updated

<sl-tabs>

    <sl-tab>
        <ng-template sl-tab-heading>
            <div>Failed <slIcon [type]="'utility'" [name]="'connected_apps'"></slIcon></div>

        </ng-template>
        <ng-template sl-tab-content>
            <div>Failed content</div>

        </ng-template>
    </sl-tab>
    <sl-tab>
        <ng-template sl-tab-heading>
            <div>Processing <slIcon [type]="'utility'" [name]="'connected_apps'"></slIcon></div>
        </ng-template>
        <ng-template sl-tab-content>
            <div>Processing content</div>
        </ng-template>
    </sl-tab>
</sl-tabs>
