<div class="sl">
  <div class="slds">
      <sl-tabs>
        <sl-tab>
            <ng-template sl-tab-heading>
              <div>Failed <sl-icon [type]="'utility'" [name]="'connected_apps'"></sl-icon></div>
            </ng-template>
            <ng-template sl-tab-content>
              <div>Failed content</div>
              <info-lst [type]="'Failed'"></info-lst>
            </ng-template>
        </sl-tab>
        <sl-tab>
            <ng-template sl-tab-heading>
              <div>Processing <sl-icon [type]="'utility'" [name]="'connected_apps'"></sl-icon></div>
            </ng-template>
            <ng-template sl-tab-content>
              <div>Processing content</div>
              <info-lst [type]="'Processing'"></info-lst>
            </ng-template>
        </sl-tab>
      </sl-tabs>



  </div>
</div>
