<div class="slds-form-element select-container">
  <label class="slds-form-element__label" for="timePeriodSelect">Select time period</label>
  <div class="slds-form-element__control">
    <div class="slds-select_container">
      <select class="slds-select" id="timePeriodSelect" [(ngModel)]="timePeriod"  (change)="onSelectChange($event.target.value)">
        <option [value]="'LAST_N_YEARS:10'">All</option>
        <option [value]="'TODAY'">Today</option>
        <option [value]="'LAST_WEEK'">Last Week</option>
        <option [value]="'LAST_MONTH'">Last Month</option>
      </select>
    </div>
  </div>
</div>

<div class="sl-list" *ngIf="infos.length > 0">
  <info-card *ngFor="let info of infos" [infoObj]="info" [type]="infoType"></info-card>
</div>

<div *ngIf="infos.length == 0">
  No records found
</div>
