<article class="slds-card slds-m-around_x-small">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__body slds-truncate">
        <h2><span class="slds-text-heading_small">{{'Class Name: ' + infoObj.ApexClass.Name}}</span></h2>
      </div>
      <div class="slds-no-flex">
        <button class="slds-button slds-button_neutral" (click)="clicked()">{{buttonLabel}}</button>
      </div>
    </header>

  </div>
  <div class="slds-card__body slds-card__body_inner" *ngIf="type === 'Failed'">
    <span class="slds-text-heading--small">Error Message</span>
    <p class="slds-p-horizontal--small">{{infoObj.ExtendedStatus}}</p>
    <span class="slds-text-heading--small">Created Date</span>
    <p class="slds-p-horizontal--small">{{infoObj.CreatedDate | date: 'dd/MM/yyyy'}}</p>
  </div>

  <div class="slds-card__body slds-card__body_inner" *ngIf="type !== 'Failed'">
    <span class="slds-text-heading--small">Processed %</span>
    <p class="slds-p-horizontal--small">{{processedPercent}}</p>
    <span class="slds-text-heading--small">Created Date</span>
    <p class="slds-p-horizontal--small">{{infoObj.CreatedDate | date: 'dd/MM/yyyy'}}</p>
  </div>
</article>

